.title{
    font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 48px;
}

.model{
    background: #FFFFFF;
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}