ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  cursor: pointer;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li span:hover:not(.active) {
  background-color: #111;
  cursor: pointer;
}

.active {
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #E5E5E5;
}

.active:hover{
  background-color: #ccc;
}
input[type=text],select {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background: #E5E5E5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.model{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: absolute;
  width: 250px;
  height: 250px;
  left: 75%;
  top: 90px;
  background: #FFFFFF;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

label{
  font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.smallModel{
  margin-left: 30px;
  margin-top: 15px;
  padding-left: 10px;
  width: 209px;
  height: 95px;
  background: #E5E5E5;
  border-radius: 10px;
}

.title{
  font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-top: 1000px;
    margin-left: 40px;
}

.dots{
  margin-left: 180px;
  font-size:large;
  font-weight: 10000;
  position: relative;
}

.dots:hover{
  cursor: pointer;
}

.options{
  position: absolute;
  right : 19px;
  top : 8px;
  background-color :#FFFFFF;;
  padding: 3px 10px;
  font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
}

table {
  /* align-items: center;
  text-align: center; */
  border-collapse: collapse;
  width: 50%
}

tr {
  border: none;
}

td {
  border-right: solid 1px #E5E5E5;
}

.flex{
  display: flex;
  align-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
}

.flex1{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 180px;
}

.flex2{
  display: flex;
}

.tooApp{
  margin-left: 10px;
  font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #3F51B5;
}

.filter{
  font-family: 'Josefin Sans';
}

.btn1{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-size: 16px;
  background: white;
  border-radius: 40px;
  padding: 4px 30px;
  color: black;
  margin-left: 10px;
  border: 1px solid black;
}

.btn1:hover, .create:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}
